---
import Subtitle from "./Subtitle.astro";
import Text from "./Text.astro";
import Title from "./Title.astro";

// Solo una desestructuraci贸n
const {
  title,
  description,
  coverImage,
  gallery,
  logo,
  demoLink,
  figmaLink,
  gitLink,
  tech,
  mainFeatures,
  front,
  back,
  app,
} = Astro.props;
---

<section
  class="mx-auto px-4 lg:px-16 py-32 grid grid-cols-1 lg:grid-cols-2 gap-12"
>
  <!-- Slider -->
  <div
    class="mySwiper swiper w-full aspect-[16/9] rounded-md overflow-hidden shadow-lg"
  >
    <div class="swiper-wrapper">
      {
        gallery.map((img: any) => (
          <div class="swiper-slide">
            <img
              src={img}
              alt="Slider image"
              class="w-full h-full object-cover"
            />
          </div>
        ))
      }
    </div>
    <div class="swiper-button-next text-[#daa032]"></div>
    <div class="swiper-button-prev text-[#daa032]"></div>
  </div>

  <!-- Info -->
  <div>
    <Title text={title} />
    <Text text={description} size="md" class="mb-6 text-justify" />
    <ul class="flex flex-wrap space-x-3 mt-10 text-sm text-white/80 list-none">
      {
        tech.map((item: any, index: any) => (
          <li
            class={`relative pl-3 before:absolute before:left-0 before:top-1/2 before:-translate-y-1/2 before:text-[#daa032] before:text-2xl font-semibold ${
              index === 0 ? "before:content-none pl-0" : "before:content-['路']"
            }`}
          >
            {item}
          </li>
        ))
      }
    </ul>
    <div class="flex items-center gap-4 my-6">
      {
        demoLink && (
          <a href={demoLink} target="_blank" rel="noopener noreferrer">
            <img src={logo} class="w-7 " alt="Logo" />
          </a>
        )
      }

      {
        figmaLink && (
          <a href={figmaLink} target="_blank" rel="noopener noreferrer">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-7 w-7"
              viewBox="0 0 24 24"
            >
              <rect width="24" height="24" fill="none" />
              <path
                fill="#E9EEEF"
                d="M11.667 2H8.333a3.333 3.333 0 1 0 0 6.667h3.334z"
                opacity="0.6"
              />
              <path
                fill="#E9EEEF"
                d="M11.667 8.667H8.333a3.333 3.333 0 0 0 0 6.666h3.334z"
                opacity="0.4"
              />
              <path
                fill="#E9EEEF"
                d="M18.333 12a3.333 3.333 0 1 1-6.667 0a3.333 3.333 0 0 1 6.667 0"
              />
              <path
                fill="#E9EEEF"
                d="M8.333 15.334h3.334v3.333a3.333 3.333 0 1 1-3.334-3.334"
                opacity="0.2"
              />
              <path
                fill="#E9EEEF"
                d="M11.666 2h3.333a3.333 3.333 0 1 1 0 6.667h-3.333z"
                opacity="0.8"
              />
            </svg>
          </a>
        )
      }

      {
        gitLink && (
          <a href={gitLink} target="_blank" rel="noopener noreferrer">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-7 w-7"
              viewBox="0 0 24 24"
            >
              <rect width="24" height="24" fill="none" />
              <path
                fill="#E9EEEF"
                d="M12 2A10 10 0 0 0 2 12c0 4.42 2.87 8.17 6.84 9.5c.5.08.66-.23.66-.5v-1.69c-2.77.6-3.36-1.34-3.36-1.34c-.46-1.16-1.11-1.47-1.11-1.47c-.91-.62.07-.6.07-.6c1 .07 1.53 1.03 1.53 1.03c.87 1.52 2.34 1.07 2.91.83c.09-.65.35-1.09.63-1.34c-2.22-.25-4.55-1.11-4.55-4.92c0-1.11.38-2 1.03-2.71c-.1-.25-.45-1.29.1-2.64c0 0 .84-.27 2.75 1.02c.79-.22 1.65-.33 2.5-.33s1.71.11 2.5.33c1.91-1.29 2.75-1.02 2.75-1.02c.55 1.35.2 2.39.1 2.64c.65.71 1.03 1.6 1.03 2.71c0 3.82-2.34 4.66-4.57 4.91c.36.31.69.92.69 1.85V21c0 .27.16.59.67.5C19.14 20.16 22 16.42 22 12A10 10 0 0 0 12 2"
              />
            </svg>
          </a>
        )
      }
    </div>
  </div>
</section>

<section
  class="mx-auto px-4 lg:px-26 py-12 flex flex-col lg:flex-row justify-evenly gap-12 items-center"
>
  <div class="w-full lg:w-1/2">
    <Subtitle text="Funciones principales" gold />
    <Text text={mainFeatures.text} class="mb-4" />
    <ul class="list-disc list-inside text-white/80 text-sm">
      {mainFeatures.functions.map((fn:any) => <li>{fn}</li>)}
    </ul>
  </div>
  <img
    src={mainFeatures.image}
    alt="Funciones"
    class="rounded-md shadow-lg w-full max-w-md lg:max-w-[25rem]"
  />
</section>

<section class="space-y-32 px-4 lg:px-26 my-32 w-full mx-auto">
  {
    [front, back, app]
      .filter((section) => section && section.text) // <-- filtra solo los definidos con texto
      .map((section, index) => (
        <div
          class={`flex flex-col md:flex-row ${
            index % 2 !== 0 ? "md:flex-row-reverse" : ""
          } items-center justify-between gap-8`}
        >
          <div class="relative w-full md:w-5/6 max-w-full">
            <div class="neon-box border border-[#daa032] absolute inset-0 translate-x-[20px] -translate-y-[30px] z-0 hidden lg:block" />
            <article class="testimonial-card lg:bg-[#0b0b0b]/60 text-white relative z-10 border-sm p-4 lg:pt-6 lg:pb-12 lg:px-16 transition-transform duration-500 ease-[cubic-bezier(0.25,1,0.5,1)] w-full">
              <Subtitle
                text={
                  index === 0
                    ? "Frontend"
                    : index === 1
                      ? "Backend"
                      : "Aplicaci贸n"
                }
                gold
              />
              <Text text={section.text} class="mb-4 text-justify" />
              <ul class="flex flex-wrap space-x-3 mt-10 text-sm text-white/80 list-none">
                {section.tech.map((item: any, idx: any) => (
                  <li
                    class={`relative pl-3 before:absolute before:left-0 before:top-1/2 before:-translate-y-1/2 before:text-[#daa032] before:text-2xl font-semibold ${
                      idx === 0
                        ? "before:content-none pl-0"
                        : "before:content-['路']"
                    }`}
                  >
                    {item}
                  </li>
                ))}
              </ul>
            </article>
          </div>
        </div>
      ))
  }
</section>

<style>
  @keyframes neonPulse {
    0%,
    100% {
      box-shadow:
        0 0 6px #daa032,
        0 0 30px #daa032,
        inset 0 0 12px #daa032;
    }
    50% {
      box-shadow:
        0 0 6px #daa032,
        0 0 15px #daa032,
        inset 0 0 12px #daa032;
    }
  }

  .neon-box {
    animation: neonPulse 3s ease-in-out infinite;
    box-shadow:
      0 0 6px #daa032,
      0 0 30px #daa032,
      inset 0 0 8px #daa032;
  }

  .swiper-button-next,
  .swiper-button-prev {
    color: #daa032;
    text-shadow: 0 0 10px #daa03288;
    scale: 1.2;
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .swiper-pagination-bullet {
    background-color: #ffffff44 !important;
    opacity: 1 !important;
  }

  .swiper-pagination-bullet-active {
    background-color: #daa032 !important;
  }
</style>

<!-- Swiper script -->
<script type="module">
  import Swiper from "https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.mjs";

  new Swiper(".mySwiper", {
    loop: true,
    autoplay: {
      delay: 3000,
    },
    spaceBetween: 10,
    centeredSlides: true,
    slidesPerView: 1,
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
  });
</script>

<!-- Swiper styles -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"