---
import SmallTitle from "./SmallTitle.astro";
const {
  position,
  company,
  date,
  description,
  responsibilities = [],
  imgPath,
  alt,
  right = false,
} = Astro.props;

const imagePositionClass = right ? "ml-6" : "mr-6";
const directionClass = right ? "lg:flex-row" : "lg:flex-row-reverse";
---

<article
  class={`flex flex-col md:flex-row ${right ? 'md:flex-row-reverse' : ''} bg-[#0B0B0B]/60 text-white p-6 w-full md:w-150 justify-between rounded-xs duration-500 transition ease-in-out hover:shadow-xs hover-brillo-yellow gap-6`}
>
  <div class="flex-1 mt-4 md:mt-0">
    <SmallTitle text={position} />
    <div class="flex justify-between mt-2">
      <p class="text-white/60 text-sm font-medium">{company}</p>
      <p class="text-white/60 text-sm">{date}</p>
    </div>
    <div class="mt-4 text-xs lg:text-justify">
      <p>{description}</p>
      <ul class="list-disc pl-4 mt-2 marker:text-[#e9eeef] marker:text-sm">
        {responsibilities.map((item: string) => <li>{item}</li>)}
      </ul>
    </div>
  </div>

  <div
    class="shrink-0 flex items-center justify-center"
  >
    <img 
      src={imgPath} 
      alt={alt} 
      width="160" 
      height="160"
      class="w-40 h-40 object-cover rounded-md hidden lg:block" 
    />
  </div>
</article>

<style>
  article {
    transition: 0.5s ease;
  }

  article:hover {
    transform: scale(1.01);
  }

  .hover-brillo-yellow:hover {
    box-shadow:
      0 0 8px 3px rgba(218, 160, 50, 0.8),
      0 0 15px 6px rgba(218, 160, 50, 0.5);
  }
</style>
