---
import Title from "./Title.astro";
import Text from "./Text.astro";
import ExperienceCard from "./ExperienceCard.astro";
import { t } from "../i18n";

const lang =
  Astro.request.headers.get("cookie")?.match(/preferredLang=([^;]+)/)?.[1] ||
  "es";
const cards = t(lang, "pages.exp.cards") || [];
---

<section class="bg-[#161512] lg:px-26 px-6 pb-16 relative">
  <Title class="text-center mb-8" text={t(lang, "pages.exp.title")} />
  <Text
    class="text-center italic mb-20"
    text={t(lang, "pages.exp.description")}
  />

  <!-- Línea central vertical -->
  <div class="line-vertical neon"></div>

  <div class="flex flex-col gap-12 lg:gap-22 relative">
    {
      cards.map((card, index) => (
        <div
          class={`experience-node ${index % 2 === 0 ? "right" : "left"} flex ${
            index % 2 === 0 ? "justify-end" : "justify-start"
          } relative w-full`}
          key={index}
        >
          <ExperienceCard
            position={card.position}
            company={card.company}
            date={card.date}
            description={card.description}
            responsibilities={card.responsibilities}
            imgPath={card.imgPath}
            right={index % 2 !== 0}
          />
        </div>
      ))
    }
  </div>
</section>
<style>
  .line-vertical {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 18rem;
    bottom: 2rem;
    width: 2px;
    background-color: #daa032;
    border-radius: 1px;
    box-shadow:
      0 0 6px #daa032,
      0 0 20px #daa032,
      inset 0 0 8px #daa032;
    z-index: 0;
  }

  .neon {
    box-shadow:
      0 0 6px #daa032,
      0 0 30px #daa032,
      inset 0 0 8px #daa032;
  }

  .experience-node {
    position: relative;
    width: 100%;
  }

  /* Línea y ramas solo en desktop */
  @media (max-width: 767px) {
    .line-vertical {
      display: none;
    }

    .experience-node.right::before,
    .experience-node.left::before {
      display: none;
    }

    .experience-node {
      flex-direction: column !important;
      align-items: center !important;
    }
  }

  /* Decorativas ramas laterales */
  .experience-node.right::before,
  .experience-node.left::before {
    content: "";
    position: absolute;
    top: 50%;
    width: 3rem;
    height: 2px;
    background: #daa032;
    transform: translateY(-50%);
    box-shadow:
      0 0 6px #daa032,
      0 0 10px #daa032;
    z-index: 10;
  }

  .experience-node.right::before {
    left: calc(50% + 1px);
  }

  .experience-node.left::before {
    right: calc(50% + 1px);
  }
</style>
