---
import "@fontsource/inter/400.css";
import "@fontsource/inter/700.css";
import "@fontsource/lato/400.css";
import "@fontsource/lato/700.css";
import "@fontsource/pt-serif/400.css";
import "@fontsource/pt-serif/700.css";
import "../styles/global.css";

import BaseHead from "../components/ui/BaseHead.astro";
import Footer from "../components/ui/Footer.astro";
import Navbar from "../components/ui/Navbar.astro";
import ScrollSpy from "../components/ui/ScrollSpy.astro";
import CookieModal from "../components/ui/CookieModal.astro";

// 1. Importamos el componente del ChatBot
import ChatBot from "../components/ui/ChatBot.astro";
import ChatInterface from "../components/ai/ChatInterface.astro";

const {
  noindex = false,
  title = "Eloy Lozano | Diseño Web de Autor y Fotógrafo Profesional",
  description = "Portfolio profesional de Eloy Lozano Barrios. Especialista en desarrollo web moderno y fotografía con sensibilidad visual.",
} = Astro.props;

const path = Astro.url.pathname;
const lang = Astro.cookies.get("preferredLang")?.value || "es";
const siteUrl = "https://www.eloylozano.es";
const canonicalURL = new URL(path, siteUrl);
const socialImageURL = new URL("/images/aboutme.webp", siteUrl);
---

<!doctype html>
<html lang={lang} class="scroll-smooth">
  <head>
    <BaseHead
      title={title}
      description={description}
      noindex={noindex}
      canonicalURL={canonicalURL}
      socialImageURL={socialImageURL}
    />
  </head>
  <body
    class="bg-[#161512] text-white selection:bg-[#daa032] selection:text-black"
  >
    <Navbar />
    {path === "/" && <ScrollSpy />}
    <CookieModal />
    
    <main>
      <slot />
    </main>

    <ChatInterface />

    <Footer />

    <script src="/script.js" defer></script>
  </body>
</html>