---
// src/components/BaseHead.astro
interface Props {
  title: string;
  description: string;
  noindex?: boolean;
  canonicalURL: URL;
  socialImageURL: URL;
}

const { title, description, noindex, canonicalURL, socialImageURL } = Astro.props;
---

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>{title}</title>
<meta name="description" content={description} />
<meta name="robots" content={noindex ? "noindex, follow" : "index, follow"} />

<link rel="canonical" href={canonicalURL} />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="icon" type="image/png" href="/favicon.png" />
<link rel="apple-touch-icon" href="/favicon.png" />

<meta property="og:type" content="website" />
<meta property="og:url" content={canonicalURL} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={socialImageURL} />

<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={canonicalURL} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={socialImageURL} />

<script is:inline>
  (function() {
    const getCookie = (name) => {
      const value = `; ${document.cookie}`;
      const parts = value.split(`; ${name}=`);
      if (parts.length === 2) return parts.pop().split(";").shift();
      return null;
    };

    if (getCookie("cookie-consent-analytics") === "accepted") {
      const gaId = 'G-NP56HSBSPJ';
      const script = document.createElement('script');
      script.async = true;
      script.src = `https://www.googletagmanager.com/gtag/js?id=${gaId}`;
      document.head.appendChild(script);

      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', gaId);
    }
  })();
</script>

<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Person",
    "name": "Eloy Lozano",
    "url": "https://www.eloylozano.es",
    "jobTitle": "Desarrollador Web y Fotógrafo",
    "sameAs": [
      "https://www.linkedin.com/in/eloylozano",
      "https://www.instagram.com/eloyloozano",
      "https://github.com/eloylozano"
    ]
  }
</script>